## Build outputs
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

## Visual Studio & IDEs
.vs/
.vscode/
*.user
*.suo
*.userprefs
*.sln.docstates

## Logging
**/Logs/
*.log
*.txt
UpgradeLog*.htm
UpgradeLog*.xml
